h1, h2, p, li, ul{
    text-align: center;
    color: greenyellow;
}

.section-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: lightgreen;
}

section {
    align-content: center;
}

body {
    background-color: grey;
}

ul { 
	list-style-type: none; 
	padding: 0; 
} 

.li-unordered::before {
    content: '• '; 
}

.imgBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}